scoreboard players set max_tiles stage 0
#foreach($team in $teams)
function flytre:win/count_lockout_tiles_$team
scoreboard players operation max_tiles stage > ${team}_tiles stage
#end
#foreach($team in $teams)
scoreboard players operation ${team}_tiles stage -= ${team}_tiles stage
scoreboard players operation @a[team=$team] tiles = ${team}_tiles stage
#end
tellraw @a ["",{"selector":"@a[scores={tiles=0}]"},{"text":" had the most tiles.","color":"dark_purple"}]