#foreach($team in $teams)
    #foreach($row_start in $intloop_1_21_5)
       #set($counter = $foreach.count)
execute#foreach($row_offset in $intloop_0_4)#set($i = $row_offset + $row_start) if score $team board_$i matches 1#end run function flytre:win/$team/row/$counter
    #end
    #foreach($col_start in $intloop_0_4)
        #set($counter = $foreach.count)
execute#foreach($col_offset in $intloop_1_21_5)#set($i = $col_start + $col_offset) if score $team board_$i matches 1#end run function flytre:win/$team/column/$counter
    #end
execute#foreach($n in $intloop_1_25_6) if score $team board_$n matches 1#end run function flytre:win/$team/diagonal
execute#foreach($n in $intloop_5_24_4) if score $team board_$n matches 1#end run function flytre:win/$team/reverse_diagonal
#end
