scoreboard players set failed global 0
#set($total_weight = -1)
#set($curr_weight = 0)
#set($excl_size = $indexed_items.size() - 1)
#foreach($i in [0..$excl_size])
    #set($total_weight = $total_weight + $weight_map.get($indexed_items.get($i)))
#end
execute store result score x rng run random value 0..$total_weight
#foreach($i in [0..$excl_size])
    #set($next_weight = $curr_weight + $weight_map.get($indexed_items.get($i)) - 1)
execute if score x rng matches $curr_weight..$next_weight unless score $item_encryption.get($indexed_items.get($i)) global matches 0 run scoreboard players set failed global 1
execute if score x rng matches $curr_weight..$next_weight unless score failed global matches 1 run scoreboard players operation $item_encryption.get($indexed_items.get($i)) global = trial global
    #set($curr_weight = $next_weight + 1)
#end
execute if score failed global matches 1 run function flytre:randomize_board/pick_random
