#set($iter = ["red", "yellow", "green", "blue", "completed"])
#foreach($i in [1..25])
    #foreach($name in $iter)
scoreboard players reset $name board_$i
    #end
#end
#foreach($item in $indexed_items)
    #foreach($name in $iter)
scoreboard players reset $name $item_encryption.get($item)
    #end
#end
function flytre:add_lines