#foreach($x in $coord_loop)
    #foreach($z in $coord_loop)
        #set ($x_31 = $x + 31)
        #set ($z_31 = $z + 31)
fill $x 116 $z $x_31 116 $z_31 iron_block
    #end
#end
setblock -60 117 52 minecraft:structure_block[mode=load]{metadata:"",mirror:"NONE",ignoreEntities:1b,powered:0b,seed:0L,author:"Flytre",rotation:"NONE",posX:0,mode:"LOAD",posY:0,sizeX:48,posZ:0,integrity:1.0f,showair:0b,name:"flytre:bingo",sizeY:40,sizeZ:20,showboundingbox:1b}
setblock 0 83 0 minecraft:structure_block[mode=load]{metadata:"",mirror:"NONE",ignoreEntities:1b,powered:0b,seed:0L,author:"?",rotation:"NONE",posX:0,mode:"LOAD",posY:0,sizeX:44,posZ:0,integrity:1.0f,showair:0b,name:"flytre:spawn",sizeY:12,sizeZ:44,showboundingbox:1b}
setblock 0 4 0 minecraft:chest
schedule function flytre:setup2 10s