scoreboard players set @s clear 0
execute unless score lockout stage matches 1..2 unless score red $item_encryption.get($item) matches 1.. as @s[team=red] run scoreboard players set @s clear 1
execute unless score lockout stage matches 1 unless score yellow $item_encryption.get($item) matches 1.. as @s[team=yellow] run scoreboard players set @s clear 1
execute unless score lockout stage matches 1 unless score green $item_encryption.get($item) matches 1.. as @s[team=green] run scoreboard players set @s clear 1
execute unless score lockout stage matches 1 unless score blue $item_encryption.get($item) matches 1.. as @s[team=blue] run scoreboard players set @s clear 1
execute if score lockout stage matches 1 unless score completed $item_encryption.get($item) matches 1.. as @s[team=red] run scoreboard players set @s clear 1
execute if score lockout stage matches 1 unless score completed $item_encryption.get($item) matches 1.. as @s[team=yellow] run scoreboard players set @s clear 1
execute if score lockout stage matches 1 unless score completed $item_encryption.get($item) matches 1.. as @s[team=green] run scoreboard players set @s clear 1
execute if score lockout stage matches 1 unless score completed $item_encryption.get($item) matches 1.. as @s[team=blue] run scoreboard players set @s clear 1
execute as @s[scores={clear=1..},team=red] run scoreboard players set red $item_encryption.get($item) 1
execute as @s[scores={clear=1..},team=yellow] run scoreboard players set yellow $item_encryption.get($item) 1
execute as @s[scores={clear=1..},team=green] run scoreboard players set green $item_encryption.get($item) 1
execute as @s[scores={clear=1..},team=blue] run scoreboard players set blue $item_encryption.get($item) 1
execute as @s[scores={clear=1..}] run scoreboard players set completed $item_encryption.get($item) 1
execute as @s[scores={clear=1..}] run function flytre:detect/$item_encryption.get($item)/gotten
advancement revoke @s only flytre:detection/$item_encryption.get($item)