{
  "parent": "flytre:items/root",
  "criteria": {
    "$item_encryption.get($item)": {
      "conditions": {
        "items": [
          {
            "items": [
              "$item"
            ]
          }
        ],
        "player": [
          {
            "condition": "minecraft:value_check",
            "value": {
              "type": "minecraft:score",
              "target": {
                "type": "minecraft:fixed",
                "name": "$item_encryption.get($item)"
              },
              "score": "global"
            },
            "range": {
              "min": 1
            }
          }
        ]
      },
      "trigger": "minecraft:inventory_changed"
    }
  },
  "requirements": [
    [
      "$item_encryption.get($item)"
    ]
  ],
  "rewards": {
    "function": "flytre:detect/$item_encryption.get($item)/base"
  }
}